#installer {
    position: absolute;
    opacity: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    transition: opacity 300ms ease-in-out;
}

#installer.available {
    opacity: 1;
}

#installer .button {
    border: solid 1px white;
    margin:10px;
    padding: 10px;
    color: white;
    background-color: transparent;
}

#jingle {
  margin: auto;
  display: block;
  border: 3px solid #fff;
  color: #fff;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.3s;
}

#jingle:hover {
  color: #97ce4c;
  background: #fff;
}

.btn-container {
  background: #97ce4c;
  padding: 1em;
}
